<div class="grid_item gray_box notification">
  <div class="grid_item_headings clearfix">
    <h1>Notification</h1>
      Tell us what notifications you would like to receive:
  </div>
  <hr>
  <div class="grid_item_content">
    <p class="clearfix"><span>Booking Confirmations:</span>Email &amp; SMS<a href="#" class="btn btn_gray small fl-r">Change</a></p>
    <p class="clearfix"><span>Ride Reminders:</span>Email &amp; SMS<a href="#" class="btn btn_gray small fl-r">Change</a></p></p>
    <p class="clearfix"><span>Ride Status Updates:</span>Email &amp; SMS<a href="#" class="btn btn_gray small fl-r">Change</a></p></p>
    <p class="clearfix"><span>E-receipt confirmations:</span>Email<a href="#" class="btn btn_gray small fl-r">Change</a></p></p>
  </div>
</div>
