<div class="grid_item gray_box">
  <div class="grid_item_headings clearfix">
    <h1 class="fl-l">Credit Cards</h1>
    <button class="btn btn_orange fixed_width fl-r">Add Credit Card</button>
  </div>
  <hr>
  <div class="grid_item_content">
    <strong>You haven’t added any credit cards yet.</strong>
  </div>
</div>
