<div class="grid_item gray_box">
  <div class="grid_item_headings clearfix">
    <h1 class="fl-l">Password</h1>    
    <%= link_to "Change Password", edit_password_user_path, :class => "modal_ajax btn btn_orange fixed_width fl-r", :title => "Change Your Password" %>
  </div>
  <hr>
  <div class="grid_item_content">
    <strong>You changed your password <%= count_password_day rescue 0 %> days ago.</strong>
  </div>
</div>
