<div class="modal_wrap">

  <ul class="form_wrap clearfix">
        <li>
            <span>Name:</span>
            <input type="text" value="Name *">
        </li>
        <li>
            <span>Phone:</span>
            <input type="text" value="Phone *">
        </li>
        <li>
            <span>Email:</span>
            <input type="text" value="Email Address *">
        </li>
        <li>
            <span>Message:</span>
            <textarea type="text">Message *</textarea>
        </li>
    </ul>

    <div class="modal_twobutton">
        <button class="btn btn_orange">Save Changes</button>
        <button class="btn btn_gray_onblack">Cancel</button>
    </div>

</div>


