<div class="content_wrap clearfix">

        <div class="content_heading">
            Help
        </div>  

        <div class="content help clearfix">

            <div class="help_item">
                <h2>Chater Taxi Help</h2>
                <h3>Overview</h3>
                <ol>
                    <li><a href="#">How do I book a car?</a></li>
                    <li><a href="#">Where can I book a car?</a></li>
                    <li><a href="#">What if a booking is not available in a partifular area?</a></li>
                    <li><a href="#">What happens after I book a ride?</a></li>
                    <li><a href="#">How are transportation providers chosen?</a></li>
                    <li><a href="#">How do I keep track of my rides using ride status?</a></li>
                    <li><a href="#">How do I made a change to an existing reservation, such as the pickup time or drop off time?</a></li>
                    <li><a href="#">How can another RideCharge user or Administrative Assistant book a ride for me?</a></li>
                </ol>
                <h3>Payment and E-Receipts</h3>
                <ol>
                    <li><a href="#">How do I pay for a ride?</a></li>
                    <li><a href="#">How do I get a receipt for a ride?</a></li>
                    <li><a href="#">How are tips and fees handled?</a></li>
                    <li><a href="#">What happens if I pay with cash?</a></li>
                </ol>
                <h3>Special Situations</h3>
                <ol>
                    <li><a href="#">What do I do if I can’t find my car?</a></li>
                    <li><a href="#">What do I do if I want to cancel a ride I have booked?</a></li>
                    <li><a href="#">Who do I call if there is a problem?</a></li>
                    <li><a href="#">How do airport pickups work?</a></li>
                </ol>
                <h3>Account Management</h3>
                <ol>
                    <li><a href="#">How do I change my communication preferences?</a></li>
                </ol>
            </div>

            <div class="help_item">
                <h2>Mobile Application Help</h2>
                <h3>Overview</h3>
                <ol>
                    <li><a href="#">How do I book a ride?</a></li>
                    <li><a href="#">How does the Default Provider feature work?</a></li>
                    <li><a href="#">How do I pay for a ride?</a></li>
                    <li><a href="#">How do I see rides I have taken?</a></li>
                </ol>
                <h3>Troubleshooting</h3>
                <ol>
                    <li><a href="#">What do I do if I rejected https connections on my device?</a></li>
                    <li><a href="#">How do I re-download the RideCharge mobile application?</a></li>
                    <li><a href="#">What do I do if the driver asks for a signature?</a></li>
                    <li><a href="#">Why do I get a confirmation number after my ride?</a></li>
                    <li><a href="#">How do I pay if I am using a different phone?</a></li>
                </ol>
            </div>

        </div>

        

    </div>
