/* ==========================================================================
   Color Box jQ plugin styles
   ========================================================================== */

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
/* 
    User Style:
*/

#cboxOverlay{
    background:#000;
}

#colorbox {
    outline:0;
}

#cboxContent{
    padding-top: 41px;
    background: #1c1c1c url(../assets/img/modal/bg_header.png) 0 0 repeat-x;
    background-color: rgba(0,0,0,.8);  
}

.cboxIframe{
    background:#000;
}

#cboxError{
    padding:50px; 
    border:1px solid #000;
}

#cboxLoadedContent {
    color: #fff;
}

#cboxTitle {
    position:absolute; 
    top:0; 
    left:0;
    right: 0; 
    height: 41px;
    line-height: 41px;
    color:#fff;
    font-size: 16px;
    float: none !important;
    text-align: center;
    background:url(../assets/img/modal/bg_header.png) 0 0 repeat-x;
    border-left:2px solid #1c1c1c; 
    border-right:2px solid #1c1c1c; 
    z-index: 1;
}

#cboxCurrent {
    position:absolute; 
    top:-20px; 
    right:0px; 
    color:#ccc;
}

#cboxLoadingGraphic {
    background:url(../assets/img/modal/loading.gif) no-repeat center 55%;
}


#cboxClose:active {
    outline:0;
}

#cboxClose{
    position:absolute; 
    top:0px; 
    right:2px; 
    display:block; 
    background:url(../assets/img/modal/controls.png) no-repeat top center; 
    width:38px; 
    height:19px; 
    text-indent:-9999px;
    z-index: 2;
}

#cboxClose:hover {
    background-position:bottom center;
}


/* ==========================================================================
   Modal dialogs styles
   ========================================================================== */

.modal_wrap {
    font-size: 11px;
    color: #fff;
    width: 280px;
    padding: 16px 20px 26px;
}

.modal_wrap ul.form_wrap li span {
    font-size: 14px;
    display: block;
}

.modal_wrap input[type="text"],
.modal_wrap input[type="password"],
.modal_wrap select,
.modal_wrap textarea,
.modal_wrap .ui-selectmenu {
    border: 1px solid #000;
    width: 258px;
}

.modal_wrap input[type="text"]:hover,
.modal_wrap input[type="password"]:hover,
.modal_wrap select:hover,
.modal_wrap textarea:hover,
.modal_wrap .ui-selectmenu:hover {
    border: 1px solid #aaa;
}

.modal_wrap textarea {
    max-height: 96px;
    resize: none;
}

.modal_wrap input[type="text"]:focus,
.modal_wrap input[type="password"]:focus,
.modal_wrap textarea:focus,
.modal_wrap .ui-selectmenu.ui-state-active,
.modal_wrap .ui-selectmenu.ui-state-focus {
    border: 1px solid #000;
}

.modal_wrap input.input_ico, 
.modal_wrap input.input_ico_right {
    width: 233px;
}

.modal_wrap ul.form_wrap li {
    margin-bottom: 14px;
} 

.modal_wrap .btn_orange,
.modal_twobutton .btn_gray_onblack {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.modal_twobutton {
    margin-top: 8px;
}

.modal_twobutton .btn_orange {
    width: 175px;

}  
.modal_twobutton .btn_gray_onblack {
    width: 92px;
    margin-left: 10px;
}

/* ==========================================================================
   Specific modal styles
   ========================================================================== */
 

.modal_wrap .forgot_password {
    display: inline-block;
    margin-top: 6px;
    color: #fea10a;
    text-decoration: none;
}

.modal_wrap .forgot_password:hover {
    color: #fede0a;
    text-decoration: underline;
}

.modal_wrap .keep_logged {
    display: block;
    margin: 2px 0 14px;
    color: #fff;
    font-size: 11px;
    float: left;
}

